<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="static/styles.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Nitul Chandra Dutta</title>
        <link rel="Shortcut icon" href="{{ url_for ('static', filename='favicon.ico') }}">
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#home" class="nav__logo">Nitul</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'm <span class="home__title-color">Nitul</span><br>I'm a Developer</h1>

                    <a href="#contact" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/nitul-chandra-dutta" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://github.com/Nitul-D" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

                <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                            <image class="home__blob-img" x="50" y="110" href="static/perfil.png" height="370" width="110"/>
                        </g>
                    </svg>
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="static/about.jpg" alt="">
                    </div>
                    <div>
                        <h2 class="about__subtitle">I'm Nitul</h2>
                        <p class="about__text">I'm a Developer. I consider myself as a very ambitious, motivated, career-oriented person, willing to accept challenges, energetic and result-oriented, and an active and hardworking person, with great adaptability to changing working conditions, able to adapt to the needs.</p>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">
                    <div>
                        <h2 class="skills__subtitle">Professional Skills</h2>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='icons8-python skills__icon' ></i>
                                <span class="skills__name">PYTHON</span>
                            </div>
                            <div class="skills__bar skills__py">
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="static/work3.jpg" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <a href="https://github.com/Nitul-D/Create-your-own-Image-Classifier" class="work__img">
                        <img src="static/work1.jpg" alt="This is an Image Classifier">
                        <span class="photoDesc">Image Classifier</span>
                    </a>
                    <a href="https://github.com/Nitul-D/Draw-Shinchan-with-Python-Turtle" class="work__img">
                        <img src="static/work5.jpg" alt="Drawing Shinchan using Python Turtles">
                        <span class="photoDesc">Shinchan with Python</span>
                    </a>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="{{ url_for('submit_form')}}" method="post" class="contact__form">
                        <input type="email" class="contact__input" name="email" id="email" placeholder="Email" required>
                        <input type="text" class="contact__input" name="subject" id="subject" placeholder="Subject" required>
                        <textarea placeholder="Enter your message" name="message" id="message" cols="0" rows="10" class="contact__input" required></textarea>
                        <input type="submit" class="contact__button button" value="Submit" >
                    </form>
                </div>
            </section>
        </main>
        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Nitul C. Dutta</p>
            <div class="footer__social">
                <a href="https://www.facebook.com/nitul.dutta.167" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.instagram.com/_nit_27" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://www.twitter.com/Mix_Trap26" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
                <a href="https://www.youtube.com/MixTrap12" class="footer__icon"><i class='bx bxl-youtube' ></i></a>
                <a href="https://www.linkedin.com/in/nitul-chandra-dutta" class="footer__icon"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://github.com/Nitul-D" class="footer__icon"><i class='bx bxl-github' ></i></a>
            </div>
            <p class="footer__copy">&#169; NitulChandraDutta. All rigths reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="static/main.js"></script>
    </body>
</html>
